        /* body/container */
* {
  box-sizing: border-box;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h2{
  align-self: center;
  justify-self: end;
  font-size: 50px;
  padding-right: 10px;  
}

h4, .gym{
  align-items: flex-end;
  justify-content: start;
  /* background-color: rgb(80, 147, 175); */
  padding: 0 0 50px 10px;
  font-size: 20px;  
}

a{
  color: rgb(80, 147, 175);
  text-decoration: none;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}


a:hover {
  color: rgb(72, 84, 254);
  font-size: 30px;
}

.about-content, .work-cards, .contact-content{
  border-left: solid rgb(80, 147, 175) 5px; 
}


.container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80px 200px 1000px;
  grid-template-areas: 
  'header header'
  'hero-banner hero-banner'
  'page-wrapper page-wrapper';
  scroll-behavior: smooth;
}


       /* header section */
.header{
  grid-area: header;
  background-color: rgb(57, 61, 65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

        /* hero */
.hero-banner{
  grid-area: hero-banner;
  background-image: url(../images/02-hero-bg.jpg);
  display: flex;
  align-items: center;
  justify-content: end;
   background-size: cover;
}

h3{
  background-color: rgb(80, 147, 175);
  padding: 0 35px;
  border-radius: 5px 0 0 5px;
  font-size: 25px;  
}

h1{
  background-color: rgb(80, 147, 175);
  padding: 0 35px;
  border-radius: 0 5px 5px 0;  
}


        /* about me */
.page-wrapper{
  grid-area: page-wrapper;
  display: flex;
  flex-direction: column; 
}

.about-me{  
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 
  'about-heading about-content';
}

.about-heading{
  grid-area: about-heading;  
}

.about-content{
  grid-area: about-content;   
  padding: 50px;
  margin: 10px;
}


        /* my work */
.my-work{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 
  'work-heading work-cards';
}

.work-cards{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 200px 200px;
  grid-template-areas:
  'gym gym'
  'led calc'
  'pastel buddy' ;
  gap: 10px;
  padding: 50px;
  margin: 10px;  
  width: 100%;
}

.work-heading{
  grid-area: work-heading;  
}

.gym{
  grid-area: gym;
  background-image: url(../images/02-gym.jpg);  
  
}

.led{
  grid-area: led;
  background-image: url(../images/02-portfolio-1.jpg);
}

.calc{
  grid-area: calc;
  background-image: url(../images/02-portfolio-2.jpg);
}

.pastel{
  grid-area: pastel;
  background-image: url(../images/02-portfolio-3.jpg);  
}

.buddy{
  grid-area: buddy;
  background-image: url(../images/02-run-buddy.jpg);
}

.gym, .led, .calc, .pastel, .buddy {
  border: 5px solid rgb(80, 147, 175);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;  
  display: flex;
  background-blend-mode: multiply;
  color: #fff;
  background-color: steelblue;
}    

    /* work section hover effects */
.gym:hover{
  background-blend-mode: multiply;
  color: #fff;
  background-color: rgb(249, 249, 249);
}

.led:hover{
  background-blend-mode: multiply;
  color: #fff;
  background-color: rgb(249, 249, 249);
}
  
.calc:hover{
  background-blend-mode: multiply;
  color: #fff;
  background-color: rgb(249, 249, 249);
}

.pastel:hover{
  background-blend-mode: multiply;
  color: #fff;
  background-color: rgb(249, 249, 249);
}

.buddy:hover{
  background-blend-mode: multiply;
  color: #fff;
  background-color: rgb(249, 249, 249);
}




        /* contact me */
.contact-me{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
  'contact-heading contact-content';
}

.contact-heading{
  grid-area: contact-heading;  
}

.contact-content{
  grid-area: contact-content;
  justify-self: start;
  align-self: center;
  list-style-type: none;  
  padding: 50px;
  margin: 10px;
} 


  














