.container{
  display: grid;
  grid-template-columns: 30% 70% ;
  grid-template-rows: 40px 80px 150px 200px 40px  ;
  grid-template-areas: 
  'header header'
  'hero-banner hero-banner' ;
}

.header{
  grid-area: header;
  background-color: rgb(112, 105, 95);
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  padding: 0 10px;
}

.hero-banner{
  grid-area: hero-banner;
  background-image: url(../images/02-hero-bg.jpg);
  display: flex;
  align-items: center;
  justify-content: end;
  /* padding-right: 10px; */
}

.container .hero-banner h2{
  background-color: rgb(92, 111, 105);
  padding: 0 5px;
  border-radius: 0 0 0 5px;
}




* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
