.container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80px 200px 800px;
  grid-template-areas: 
  'header header'
  'hero-banner hero-banner'
  'page-wrapper page-wrapper';
}

.header{
  grid-area: header;
  background-color: rgb(57, 61, 65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.hero-banner{
  grid-area: hero-banner;
  background-image: url(../images/02-hero-bg.jpg);
  display: flex;
  align-items: center;
  justify-content: end;
  /* padding-right: 10px; */
}

.container .hero-banner h2{
  background-color: rgb(80, 147, 175);
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  
}

.container .header h1{
  background-color: rgb(80, 147, 175);
  padding: 0 5px;
  border-radius: 0 5px 5px 0;
  
}

.page-wrapper{
  grid-area: page-wrapper;
  display: flex;
  flex-direction: column;
 
}

.about-me{
  
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 
  'about-heading about-content'
  ;
}

.about-heading{
  grid-area: about-heading;
}


.about-content{
  grid-area: about-content;  
}

.my-work{
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas: ;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: black;
}

p {
  margin: 0;
}
